name: Build MSVC Solution

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Setup MSBuild
      uses: microsoft/setup-msbuild@v1.0.2

    - name: Setup Visual Studio
      uses: microsoft/setup-visual-studio@v1
      with:
        vs-version: 2019

    - name: Build solution
      run: msbuild WinAmy.sln /p:Configuration=Release
